@import './src/componentes/variables.scss';
@import './src/componentes/mediaquery.scss';
@import './src/componentes/musica.scss';
@import './src/componentes/footer.scss';
@import './src/componentes/games.scss';
@import './src/componentes/createBall.scss';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: --primary-bg-color;
  background-image: $background-image;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  background-position: center right;
}

header {
  padding: $primary-padding;
  text-align: center;
  text-shadow: $primary-text-shadow;
}

main {
  padding: $secundary-padding;
  height: auto;
}
