@media screen and (max-width: 750px) {
  .games {
    height: auto;
  }
  .game {
    width: auto;
    height: auto;

    h2 {
      background-color: aqua;
      font-size: 0.8rem;
    }
  }
}
@media screen and (max-width: 475px) {
  .games {
    height: auto;
    width: auto;
  }

  .game {
    height: auto;
    h2 {
      font-size: 0.5rem;
      margin-top: 0;
    }
    img {
      height: 40px;
    }
  }
  .footer-buttons {
    display: flex;

    justify-content: space-around;

    transition: transform 0.2s;
    .contactos {
      align-content: center;
    }
  }
}
