@media screen and (max-width: 750px) {
  .games {
    height: auto;
  }
  .game {
    width: auto;
    height: 270px;

    h2 {
      background-color: rgb(94, 219, 247);
    }
  }
}
@media screen and (max-width: 475px) {
  .games {
    height: auto;
    width: auto;
  }

  .game {
    height: 270px;
    h2 {
      margin-bottom: 0;
    }
  }
  .footer-buttons {
    display: flex;

    justify-content: space-around;

    transition: transform 0.2s;
    .contactos {
      align-content: center;
    }
  }
}
